html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  color: #333;
}
.header {
  background: #eee;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  zoom: 1;
}
.header:before,
.header:after {
  content: "";
  display: table;
}
.header:after {
  clear: both;
}
.header h1 {
  float: left;
  font-size: 26px;
  letter-spacing: -1px;
  font-weight: bold;
  margin-right: 8px;
}
.header h2 {
  padding-top: 12px;
  float: left;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
.calendar {
  counter-reset: li;
}
.calendar li {
  box-sizing: border-box;
  padding: 5px;
  font-size: 14px;
  float: left;
  width: 33.333333333%;
  position: relative;
  overflow: hidden;
}
.calendar li a {
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  border: 1px solid #567;
  border-radius: 4px;
  height: 120px;
  overflow: hidden;
}
.calendar li.need a {
  border-color: #aaa;
}
.calendar li.need a span {
  background: #d6d6d6;
}
.calendar li.need:before {
  background: #eee;
  border-color: #aaa;
}
.calendar li span {
  background: #abc;
  border-top: 1px solid rgba(255,255,255,0.4);
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  color: #111;
  text-shadow: 0 1px 0 rgba(255,255,255,0.6);
}
.calendar li img {
  max-width: 100%;
  border-radius: 4px;
}
.calendar li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  right: 6px;
  top: 6px;
  background: #dde7ee;
  padding: 5px;
  border: 1px solid #567;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 3px;
  z-index: 2;
}
@media (min-width: 420px) {
  .calendar li {
    width: 25%;
  }
  .header h1 {
    font-size: 32px;
  }
}
@media (min-width: 550px) {
  .calendar li {
    width: 20%;
  }
}
@media (min-width: 700px) {
  .calendar li {
    width: 14%;
  }
  .calendar li a {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .calendar li:first-child {
    margin-left: 70%;
  }
}
