@import 'reset'
@import 'clearfix'

$have-border = #676
$have-background = #7a7
$have-day = #dde7ee
$need-border = #aaa
$need-background = #d6d6d6
$need-day = #eee

global-reset()

body
  color: #333

.header
  background: #eee
  padding: 10px
  border-bottom:1px solid #ddd
  margin-bottom:20px;
  clearfix()

  h1
    float: left
    font-size: 26px
    letter-spacing: -1px
    font-weight: bold
    margin-right:8px

  h2
    padding-top: 12px
    float: left

  .logo
    display:none
    float: right
    opacity:.7
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ie-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

    &:hover
      opacity:1

.container
  max-width: 960px
  margin: 0 auto
  padding: 0 20px
  clearfix()

.footer
  clear:both
  text-align:center
  padding-top:10px
  margin-bottom:30px
  border-bottom:1px solid #eee;

  a
    background:#fff
    font-size:28px
    color:#aaa
    padding:0 10px
    text-decoration:none
    position:relative
    top:15px


.calendar
  counter-reset: li

  li
    -moz-box-sizing: border-box
    box-sizing: border-box
    padding: 5px
    font-size: 14px
    float: left
    width: 33.333333333%
    position: relative
    overflow:hidden

    a
      background-size: 100%
      background-repeat: no-repeat
      display: block
      position:relative
      border: 1px solid $have-border
      border-radius: 4px
      height: 120px

    &.past span
        background-color: #b6b6b6

    &.me a
        background-position: 0 -50px

    &.current a
      height:112px
      border: #215E8F solid 5px;
      border-radius:9px

    &.current:before
      border-top-right-radius:8px

    &.current span
      border-bottom-left-radius: 4px
      border-bottom-right-radius: 4px

    &.need a
      border-color: $need-border

      span
        background: $need-background
        text-shadow: 0 1px 0 rgba(255,255,255,.8)

    &.need:before
      background: $need-day
      border-color: $need-border
    
    span
      background: $have-background
      border-top:1px solid rgba(255,255,255,.4)
      -moz-box-sizing: border-box
      box-sizing: border-box
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      padding: 5px
      text-align: center
      font-size: 12px
      border-bottom-left-radius: 2px
      border-bottom-right-radius: 2px
      color: #111
      text-shadow: 0 1px 0 rgba(255,255,255,.4)

    img
      max-width:100%
      border-radius:4px

    &:before
      content:counter(li)
      counter-increment: li
      position: absolute
      right: 6px
      top: 6px
      background: $have-day
      padding: 5px
      border: 1px solid $have-border
      border-top: none
      border-right: none
      border-bottom-left-radius: 4px
      border-top-right-radius: 3px
      z-index: 2


@media (min-width: 420px)
  .calendar li
    width: 25%

  .header h1
    font-size: 32px

@media (min-width: 550px)
  .calendar li
    width: 20%

@media (min-width: 700px)
  .header .logo
    display: block

  .calendar li
    width: 14.28571428571429%
    
    a
      padding-top:5%
      padding-bottom:5%

    &:first-child
      margin-left: 71.42857142857145%
