doctype 5
html
  head
    title Geeky Shirt February
    link(rel='stylesheet', type='text/css', href='css/reset.css')
    link(rel='stylesheet', type='text/css', href='css/index.css')
    script(src='//use.typekit.net/vgm2hxd.js')
    script
      try{Typekit.load();}catch(e){}
  body
    .header
      .container
        h1 Geeky Shirt February
        h2 A different geeky shirt every day in February
    .container
      ol.calendar
        li
          a(href='http://teespring.com/nodejs')
            img(src='http://mmt.asciidisco.com/img/node_turtle.png')
            span Node.js Turtle
        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Helvetica
        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Binary Dad 
        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Green Linen Shirt 

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span HTML5 Dev Conf

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Aperture 40s

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Planet Express

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Bazinga

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Hearthstone

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span HJKL

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Triforce

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Serif

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Sans Serif

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span George Lois

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Black Mesa

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Aperture 80s

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Node.js Logo

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Slide to Unlock

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Community 8-Bit

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Esc

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span RPSLS
        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Linux Cheat Shirt
        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span A Book Apart
        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Exploded 4S

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Binford
        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span Elements

        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span The Oneders
        li
          a(href='http://www.bustedtees.com/helvetica')
            img(src='http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg')
            span BSOD


